<div class="termination">
  <form
    class="termination-form"
    [formGroup]="terminationReportForm"
    (submit)="onSubmit()"
    novalidate
  >
    <h1 class="termination-header">Termination Report</h1>
    <span
      >The Termination Report Form enables you to request a detailed report by
      providing your unique corporate account number and the desired date range.
      This ensures we pull the correct data for your specified timeframe.
    </span>
    <div class="form-control-group">
      <tui-combo-box
        tuiTextfieldSize="l"
        formControlName="corporateAccount"
        name="corporateAccount"
        [stringify]="selectItemLabel"
      >
        Choose company
        <tui-data-list-wrapper
          *tuiDataList
          [items]="companies()"
          emptyContent="No results found"
          [itemContent]="selectItemLabel | tuiStringifyContent"
        />
      </tui-combo-box>
      @if (corporateAccount.hasError("required") && isFormSubmitted()) {
        <label for="corporateAccount" class="label-error"
          >This is required.</label
        >
      }
    </div>
    <div class="form-control-group">
      <tui-input-date-range
        formControlName="dateRange"
        name="dateRange"
        [max]="currentDay"
        tuiTextfieldSize="l"
        >Choose dates</tui-input-date-range
      >
      @if (dateRange.hasError("required") && isFormSubmitted()) {
        <label for="dateRange" class="label-error">This is required.</label>
      }
    </div>
    <!--<button size="m" tuiButton type="submit">
      <tui-icon icon="@tui.send" />
      Submit
    </button> -->
    <button size="m" tuiButton type="submit" [disabled]="isFetchingReports()">
      <tui-icon *ngIf="!isFetchingReports()" icon="@tui.send"></tui-icon>
      <span *ngIf="isFetchingReports()">Loading...</span>
      <span *ngIf="!isFetchingReports()">Submit</span>
    </button>
  </form>
</div>
