<main
  tuiNavigationMain
  style="
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    margin: 1rem;
  "
>
  <header tuiTitle>
    <div tuiNavigationLogo>
      <img src="report.png" alt="Logo" style="width: 2rem" />
      <h1 tuiFade class="navbar-header">Reports</h1>
    </div>
  </header>

  <div class="">
    <a
      tuiButton
      appearance="flat"
      class="tab-default"
      [routerLinkActive]="'tab-active'"
      [routerLink]="['/member']"
      iconStart="@tui.users"
      routerLinkActive="router-link-active"
    >
      Member
    </a>
    <a
      tuiButton
      appearance="flat"
      class="tab-default"
      [routerLinkActive]="'tab-active'"
      [routerLink]="['/enrollment']"
      type="button"
      iconStart="@tui.book-user"
      routerLinkActive="router-link-active"
    >
      Enrollment
    </a>
    <a
      tuiButton
      appearance="flat"
      class="tab-default"
      [routerLinkActive]="'tab-active'"
      [routerLink]="['/termination']"
      iconStart="@tui.user-round-x"
      routerLinkActive="router-link-active"
    >
      Termination
    </a>
  </div>
</main>
