.navbar-header {
  font-size: 2rem;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.navbar-header {
  margin-left: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

.tab-active {
  color: #FFC9B9 !important;
  background: #FFC9B9;
background: linear-gradient(to right, #FFC9B9 0%, #AACEA5 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}


.tab-default {
  color: black;
}

tui-tabs {
  border-radius: 5px;
  padding: 0.2rem 1.5rem;
  display: flex;
  justify-content: space-around;
}

tui-tab {
  flex: 1;
  margin: 0 0.5rem;
}

tui-tab:hover {
  background-color: #e2e6ea;
  border-radius: 5px;
}

.router-link-active {
  background-color: #1e7e34;
  color: white;
  font-weight: bold;
}
