<main
  tuiNavigationMain
  style="display: flex; flex-direction: column; gap: 1rem"
>
  <header tuiTitle>
    <div tuiNavigationLogo>
      <tui-icon icon="@tui.file" />
      <h1 tuiFade class="navbar-header">Reports</h1>
    </div>
  </header>

  <tui-tabs>
    <button
      tuiTab
      [routerLink]="['/member']"
      iconStart="@tui.users"
      routerLinkActive="router-link-active"
    >
      Member
    </button>
    <button
      tuiTab
      [routerLink]="['/enrollment']"
      type="button"
      iconStart="@tui.book-user"
      routerLinkActive="router-link-active"
    >
      Enrollment
    </button>
    <button
      tuiTab
      [routerLink]="['/termination']"
      iconStart="@tui.user-round-x"
      routerLinkActive="router-link-active"
    >
      Termination
    </button>
  </tui-tabs>
</main>
